// Modules
.lyt-m-h {
    height: 100vh;
    background-color: midnightblue;
}
.lyt-m-title--primary {
    color: $color-primary;
}
.lyt-m-title--secondary {
    color: $color-secodary;
}
.lyt-m-title--default {
    color: $color-default;
}
.lyt-m-title--base {
    color: $color-base;
}
.lyt-m-title--light {
    color: $color-light;
}
